.DS_Store
.AppleDouble
.LSOverride

build/
DerivedData/
*.xcresult
*.resultbundle

*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside

*.ipa
*.dSYM.zip
*.dSYM
*.log

.swiftpm/
.build/
.vscode/
.idea/
